@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


body{
    background-color: #373737;
    color: white;
}


header{
    background-image: url(imgs/download.jpg);
    /* height: 100%; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    padding-top: 15px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
}

#h2{
    font-family: "Modak", serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-family: "Chango", serif;
    font-size: 25px;
    font-style: italic;
}

#des{
    font-family: "Major Mono Display", serif;
    font-weight: 600;
    font-size: 24px;
    color: #faaefa;
}

#work{
    border: 1px solid transparent;
    font-size: 15px;
    background-color: #344CB7;
    color: white;
    font-family: cursive;
    border-radius: 25px;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 10px black;
}

#work:hover{
    background-color: white;
    color: #344CB7;
    transition: all 0.45s ease;
}

.container-3{
    padding: 50px;
    display: flex;
    /* flex-direction: column; */
    align-self: center;
    justify-content: center;
}

.imgs{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 5px solid lime;
}

.text-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    padding: 10px;
}

.who{
    font-size: 13px;
    font-weight: 100;
    color: rgb(201, 255, 255);
    font-family: sans-serif;
}

.abt{
    font-size: 25px;
    font-family: "Chango", serif;
    color: #A888B5;
    text-shadow: 1px 1px 5px white;   
}

.dum{
    font-family: cursive;
    font-size: 10px;
}

.cv{
    background-color: #441752;
    border-radius: 25px;
    font-size: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.cv:hover{
    color: #faaefa;
    background-color: t;
}

.container4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container5{
    display: flex;
    justify-content: space-evenly;
}

.mywork{
    font-weight: 100;
    font-family: cursive;
}

.Service{
    font-size: 35px;
    color: #344CB7;
    text-shadow: 1px 1px 10px black;
}

#mug{
    font-size: 30px;
}

.item1{
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 50px;
}

.item2{
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 50px;
}

#laptop{
    font-size: 30px;
}

.free{
    /* color: lime; */
    font-size: 20px;
}

.free-p{
    font-size: 17px;
}

.standard{
    /* color: cyan; */
    font-size: 20px;
}

.standard-p{
    font-size: 17px;
}

.item3{
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 50px;
}

.pro{
    /* color: red; */
    font-size: 20px;
}

.item1:hover{
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.item2:hover{
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.item3:hover{
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.code1{
    background-image: url(imgs/coding.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 10px;
    height: 250px;
    width: 250px;
}

.code2{
    background-image: url(imgs/code2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 10px;
    height: 250px;
    width: 250px;
}

.code3{
    background-image: url(imgs/code3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 10px;
    height: 250px;
    width: 250px;
}

.container7{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.container8{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.container6{
    padding: 50px;
}

.what{
    font-weight: 100;
}
.idid{
    font-size: 25px;
    font-family: cursive;
}

.paras{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: cyan;
    font-size: 20px;
    /* background-color: white; */
    text-shadow: 1px 1px 10px white;
}

.code1:hover{
    background-color: white;
    background-image: url(imgs/code3.jpg);
    /* opacity: 70%; */
    transition: all 0.6s ease-in-out;
}

.code2:hover{
    background-color: white;
    background-image: url(imgs/coding.jpg);
    /* opacity: 70%; */
    transition: all 0.6s ease-in-out;
}

.code3:hover{
    background-color: white;
    background-image: url(imgs/code2.png);
    /* background: transparent; */
    color: white;
    transition: all 0.6s ease-in-out;
}

.container10{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.container11{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.free-sub{
    border: 1px solid white;
    padding: 100px;
    text-align: center;
    height: 500px;
}

#moto{
    font-size: 35px;
}

.freehead{
    color: #faaefa;
    font-family: fantasy;
    font-size: 50px;
    font-weight: 100;
}

.ps{
    font-size: 20px;
}

#x{
    color: red;
    font-family: monospace;
    font-size: 30px;
}

.free-sub:hover{
    background-color: white;
    color: black;
    transition: all 0.5s ease-out;
}

.Pricing{
    color: aqua;
    font-size: 45px;
    font-family: sans-serif;
}

.charge{
    font-size: 17px;
}

.Subscribe{
    color: white;
    border: 1px solid transparent;
    background-color: #344CB7;
    padding: 5px 15px;
    border-radius: 15px;
}

.Subscribe:hover{
    background-color: white;
    color: #344CB7;
    transition: all 0.3s ease-in-out;
}

.container-main-4{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(15deg ,#faaefa , rgb(255, 106, 131));
    padding: 10px 5px;
}

.container13{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hire{
    background-color: white;
    color: #441752;
    border: 1px solid transparent;
    align-self: center;
    padding: 5px 20px;
    border-radius: 14px;
    font-size: 20px;
    font-weight: bolder;
}

.hire:hover{
    background-color: #441752;
    color: white;
    transition: all 0.3s ease-in-out;
}

.wme{
    font-size: 25px;
    font-family: "Major Mono Display", serif;
}

.hme{
    font-size: 17px;
}

.container-main-5{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts{
    width: 250px;
    padding: 10px;
    border-radius: 15px;
    background-color: #171717;
    border: 1px solid transparent;
    color: white;
    font-size: 17px;
}
#subject{
    width: 250px;
    padding: 10px;
    border-radius: 15px;
    background-color: #171717;
    border: 1px solid transparent;
    color: white;
    font-size: 17px;
    font-family: cursive;
}
.writeSomething{
    width: 250px;
    padding: 10px;
    border-radius: 15px;
    background-color: #171717;
    border: 1px solid transparent;
    color: white;
    font-size: 17px;
    max-height: 100px;
    max-width: 250px;
    font-family: cursive;   
}

.container16{
    text-align: center;
}
.contactme{
    font-size: 35px;
    color: #faaefa;
    font-family: "Major Mono Display", serif;   
}

.Communicate{
    font-size: 17px;
}

.btn-low{
    border: 1px solid transparent;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: #344CB7;
    color: white;
    font-size: 20px;
}
.container17{
    display: flex;
    justify-content: center;
}

.btn-low:hover{
    background-color: white;
    color: #344CB7;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}